{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<section class="gradient-custom-2 d-flex justify-content-center align-items-center">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom">
          <div class="card-body p-4">
            <div class="text-center pt-3 pb-2">
              <h6 class="text-muted alert alert-warning">Click here to logout <a href="{% url 'logout' %}">{{ request.user }}</a></h6>
              <!-- Message loop -->
              {% if messages %}
              <div class="mb-4">
                {% for message in messages %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }} {% else %} alert-info{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
              </div>
              {% endif %}
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="Check" width="60" style="margin-top: 5%;">
              <div class="col-12">
                <div class="form-floating mb-3 mt-3 col-4">
                  <form method="GET" action="{% url 'home' %}">
                    <input class="form-control text-dark" type="text" name="search" placeholder="Search for task..." value="{{ request.GET.search }}">
                  </form>
                </div>
              </div>
            </div>
            <a class="btn btn-primary mb-4" href="{% url 'add_task' %}">Add Task</a>
            <table class="table text-white mb-0">
              <thead>
                <tr>
                  <th scope="col">Team Member</th>
                  <th scope="col">Task</th>
                  <th scope="col">Task Date</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% if tasks %}
                {% for task in tasks %}
                <tr class="fw-normal">
                  <th>
                    {% if task.user.profile_picture %}
                    <img src="{{ task.user.profile_picture.url }}" width="45px;" style="border-radius:10%;">
                    {% else %}
                    <img src="https://www.svgrepo.com/show/384676/account-avatar-profile-user-6.svg" width="45px">
                    {% endif %}
                    <span class="ms-2"><a href="{% url 'user_profile' task.user.created_by.id %}">{{ task.user.name|title }}</a></span>
                  </th>
                  <td class="align-middle">
                    <span><a href="{% url 'task_detail' task.id %}">{{ task.title|title }}</a></span>
                  </td>
                  <td class="align-middle">
                    <span>{{ task.created_at|date:"F j, Y" }}</span> <!-- Updated Date Format -->
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"> 
                      {% if task.priority == 'Low' %}
                      <span class="badge bg-primary">{{ task.priority }}</span>
                      {% elif task.priority == 'Medium' %}
                      <span class="badge bg-warning">{{ task.priority }}</span>
                      {% elif task.priority == 'High' %}
                      <span class="badge bg-danger">{{ task.priority }}</span>
                      {% endif %}
                    </h6>
                  </td>
                  <td class="align-middle">
                    {% if request.user.profile == task.user %}
                    <a href="{% url 'update_task' task.id %}" data-mdb-tooltip-init title="Edit"><i class="fas fa-edit fa-lg text-success me-3"></i></a>
                    <a href="{% url 'delete_task' task.id %}" data-mdb-tooltip-init title="Remove"><i class="fas fa-trash-alt fa-lg text-warning"></i></a>
                    {% endif %}
                    {% if request.user.profile != task.user and request.user.profile not in task.participants.all %}
                    <form action="{% url 'join_task' task.id %}" method="post" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" style="background:none;border:none;padding:0;">
                        <i class="fas fa-user-plus fa-lg text-info ml-5"></i>
                      </button>
                    </form>
                    {% elif request.user.profile in task.participants.all %}
                    <form action="{% url 'leave_task' task.id %}" method="post" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" style="background:none;border:none;padding:0;">
                        <i class="fas fa-sign-out-alt fa-lg text-info ml-5"></i>
                      </button>
                    </form>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="5" class="text-center">No tasks found.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
